<footer class="py-5">
  <div class="container">
    <div class="text-center">
      <small>Built and designed by Alex Robbins, Darrien Kennedy and James Salvatore</small>
    </div>
  </div>
</footer>