<nav class="navbar navbar-expand-md apt-nav-showcase">
  <ul class="navbar-nav ml-0 ml-md-auto">
    <li class="nav-item">
      {{#link-to 'downloads' class="nav-link" }}
        Downloads
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'guides' class="nav-link" }}
        Guides
      {{/link-to}}
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/Aperture-py" target="_blank">
        GitHub
      </a>
    </li>
  </ul>
</nav>