<h3>Desktop App</h3>
<small>Note: All desktop downloads are a zip file containing pre-compiled binaries.</small>
<div class="row no-gutters mt-3">
  <div class="col-12 col-md-4 pr-md-1">
    <div class="card">
      <div class="card-body text-center">
        <i class="fab fa-apple fa-4x"></i>
        <p class="pt-2 mb-0">Mac OS X</p>
        <small class="d-block mb-3">64 Bit</small>
        <hr>
        <a role="button" href="https://s3.amazonaws.com/aperture-downloads/mac/Aperture-darwin-x64.zip" class="btn btn-primary">Download</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 pt-2 pt-md-0 px-md-1">
    <div class="card">
      <div class="card-body text-center">
        <i class="fab fa-windows fa-4x"></i>
        <p class="pt-2 mb-0">Windows 10</p>
        <small class="d-block mb-3">64 Bit</small>
        <hr>
        <button type="button" class="btn btn-primary">Download</button>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 pt-2 pt-md-0 pl-md-1">
    <div class="card">
      <div class="card-body text-center">
        <i class="fab fa-linux fa-4x"></i>
        <p class="pt-2 mb-0">Linux</p>
        <small class="d-block mb-3">64 Bit</small>
        <hr>
        <button type="button" class="btn btn-primary">Download</button>
      </div>
    </div>
  </div>
</div>