<div class="row no-gutters py-5 bg-white">
  <div class="col-12 col-md-4">
    <div class="px-5">
      <div class="text-center">
        <i class="fas fa-expand fa-3x"></i>
        <h5 class="text-center mt-4">Resize</h5>
      </div>
      <p class="apt-showcase-card-desc pt-3">Support several device sizes by creating resized copies of your images.
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-5 mt-md-0">
    <div class="px-5">
      <div class="text-center">
        <i class="fas fa-copyright fa-3x"></i>
        <h5 class="text-center mt-4">Watermark</h5>
      </div>
      <p class="apt-showcase-card-desc pt-3">Protect your images by adding a company logo or custom text.</p>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-5 mt-md-0">
    <div class="px-5">
      <div class="text-center">
        <i class="fas fa-compress fa-3x"></i>
        <h5 class="text-center mt-4">Compress</h5>
      </div>
      <p class="apt-showcase-card-desc pt-3">Reduce the total file size of your assets by compressing your images.</p>
    </div>
  </div>
</div>