.apt-img-guide {
  width: 800px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.apt-img-main {
  background-image: url('aperture-main.png')
}

.apt-img-web-dl {
  background-image: url('aperture-web-dl.png')
}