{{apt-nav}}
<div class="container mt-5">
    <h2>Guides</h2>
    <p>Below you will find guides for how to use the application and the command line interface. It is recommended that non-experienced
        developers should use the web and desktop app. The web app may be found
        <a href="https://app.aperture.run/">here</a>, while the desktop application may be downloaded from the
        <i>Downloads</i> page.
    </p>
    <h3 id="app">App</h3>
    <p>The web and desktop applications both share a lot of the same functionality.</p>



    <h3 id="cli">CLI</h3>
    <p>
        The command line interface provides the user with a powerful tool for every feature which Aperture has to offer. Developers
        familiar with using a terminal or command prompt should be able to use this tool very easily.
    </p>

    <h4>Installation</h4>
    <p>
        The CLI requires python3.xxxxxx installed and may be installed by simply running:
    </p>
    <span class="term">pip install aperture-cli</span>

    <p>
        To verify that the tool has been successfully installed, try running:
    </p>
    <span class="term">aperture</span>
    <p>
        If you are not met with an error message and instead presented with help text, then you are set.
    </p>

    <h4>Options</h4>


    <h4>Aperture File</h4>
    <p>
        You may choose to provide
    </p>
</div>