<div class="apt-showcase-main">
  {{apt-nav-showcase}}
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-6 text-white">
        <h2 class="display-3">Aperture</h2>
        <p>Format and compress your images for the web.</p>
        <p>Aperture is an open source tool that makes images ready for different devices that access your web applications.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <div class="p-5 apt-showcase-dls">
          <ul class="list-group text-center">
            <li class="list-group-item">
              CLI
            </li>
            <li class="list-group-item">
              <div class="p-2 rounded bg-white">
                <code class="text-primary">pip install aperture-cli</code>
              </div>
            </li>
          </ul>
          <ul class="list-group text-center mt-4">
            <li class="list-group-item">
              App
            </li>
            <li class="list-group-item">
              <span class="font-weight-bold">v1.0.0</span>
            </li>
            <li class="list-group-item">
              <a class="btn btn-primary" href="https://app.aperture.run" target="_blank" role="button">Launch Browser App</a>
              {{#link-to 'downloads' class="btn btn-primary my-1" role="button" }}
                Download Desktop App
              {{/link-to}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row no-gutters my-5 bg-gray">
  <div class="col-12 col-md-4">
    <div class="px-5">
      <div class="text-center">
        <i class="fas fa-expand fa-3x"></i>
        <h5 class="text-center mt-4">Resize</h5>
      </div>
      <p class="apt-showcase-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. </p>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-5 mt-md-0">
    <div class="px-5">
      <div class="text-center">
        <i class="fas fa-copyright fa-3x"></i>
        <h5 class="text-center mt-4">Watermark</h5>
      </div>
      <p class="apt-showcase-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. </p>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-5 mt-md-0">
    <div class="px-5">
      <div class="text-center">
        <i class="fas fa-compress fa-3x"></i>
        <h5 class="text-center mt-4">Compress</h5>
      </div>
      <p class="apt-showcase-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. </p>
    </div>
  </div>
</div>
<div class="mt-5 text-center">
  <hr class="w-50">
  <p>
    <small>
      Built and designed by James Salvatore, Alex Robbins and Darrien Kennedy
    </small>
  </p>
</div>