<div class="apt-showcase-main">
  {{apt-nav-showcase}}
  <div class="container mt-5">
    {{apt-showcase-jumbotron}}
  </div>
</div>
<div class="bg-white">
  <div class="container">
    {{apt-showcase-content}}
  </div>
</div>